<% flash.each do |name, msg| -%>
  <% if name=='alert' %>
    <%= content_tag :div, msg, class: "alert alert-danger" %>
  <% else %>
    <%= content_tag :div, msg, class: "alert alert-success" %>
  <% end %>
<% end -%>
<% if @employees.empty? %>
  <h2 align="center">No Employees Yet</h2>
<% else %>
  <br>
  <table class="table table-dark">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Age</th>
      <th>Salary</th>
      <th>Project</th>
    </tr>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.address %></td>
        <td><%= employee.age %></td>
        <td><%= employee.salary %></td>
        <td><%= employee.project.name %></td>
        <td>
          <%= link_to "Edit" , edit_employee_path(employee),
                      class: "btn btn-success  " %>
          <%= link_to "Delete" ,employee_path(employee),
                      method: :delete,
                      data: { confirm: 'Are you sure?' },
                      class: "btn btn-danger  " %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>


