<style>
  span{
    float:right;
    color:red;
  }
</style>
<br>
<div style="width:50%;margin: 0 auto;">
  <%= bootstrap_form_for(@employee) do |f| %>
    <% if !flash[:alert].nil? && !flash[:alert].dig("name").nil? %>
      <span><%= flash[:alert]["name"][0] %></span>
    <% end %>
    <%= f.text_field :name %>

    <% if !flash[:alert].nil? && !flash[:alert].dig("address").nil? %>
      <span><%= flash[:alert]["address"][0] %></span>
    <% end %>
    <%= f.text_field :address %>

    <% if !flash[:alert].nil? && !flash[:alert].dig("age").nil? %>
      <span><%= flash[:alert]["age"][0] %></span>
    <% end %>
    <%= f.text_field :age %>

    <% if !flash[:alert].nil? && !flash[:alert].dig("salary").nil? %>
      <span><%= flash[:alert]["salary"][0] %></span>
    <% end %>
    <%= f.text_field :salary %>

    <% if !flash[:alert].nil? && !flash[:alert].dig("project").nil? %>
      <span><%= flash[:alert]["project"][1] %></span>
    <% end %>
    <%= f.select :project_id, Project.all.collect { |p| [p.name, p.id] }, include_blank: true %>

    <br>
    <%= f.submit "Save" %>
  <% end %>
</div>