<div style="width:50%;margin: 0 auto;">
  <%= bootstrap_form_with(model: @project, local: true) do |f| %>
    <%= f.text_field :name %>
    <%= f.text_area :description %>
    <%= f.submit "Update" %>
  <% end %>
</div>