<% flash.each do |name, msg| -%>
  <% if name=='alert' %>
    <%= content_tag :div, msg, class: "alert alert-danger" %>
  <% else %>
    <%= content_tag :div, msg, class: "alert alert-success" %>
  <% end %>
<% end -%>
<% if @projects.empty? %>
  <h2 align="center">No Projects Yet</h2>
<% else %>
  <br>
<table class="table table-dark">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Number of Employee</th>
    <th>Action</th>
  </tr>
  <% @projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.description %></td>
      <td><%= project.employees.length %></td>
      <td>
        <%= link_to "Edit" , edit_project_path(project),
                    class: "btn btn-success  " %>
        <%= link_to "Delete" ,project_path(project),
                    method: :delete,
                    data: { confirm: 'Are you sure?' },
                    class: "btn btn-danger  " %>
      </td>
    </tr>
  <% end %>
</table>
<% end %>