<% flash.each do |name, msg| -%>
  <% if name=='alert' %>
    <%= content_tag :div, msg, class: "alert alert-danger" %>
  <% else %>
    <%= content_tag :div, msg, class: "alert alert-success" %>
  <% end %>
<% end -%>
<div style="width:50%;margin: 0 auto;" >
  <%= bootstrap_form_for(@project) do |f| %>
    <%= f.text_field :name %>
    <%= f.text_area :description %>
    <%= f.submit "Save" %>
  <% end %>
</div>
