<!DOCTYPE html>
<html>
  <head>
    <title>Codyssey</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "Codyssey" , root_path,class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <%= link_to "Home" , root_path,class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Add Project" , new_project_path,class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Add Employee" , new_employee_path,class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Manage Employee" , employees_path,class: "nav-link" %>
        </li>
      </ul>
    </div>
  </nav>



    <%= yield %>
  </body>
</html>
